* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(128, 128, 128, 0.237), rgba(0, 0, 0, 0.258));
  height: fit-content;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #454444;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 5rem;
  z-index: 1;
  overflow-y: hidden;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
nav h1 {
  color: white;
}
.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.socials button {
  width: 30px;
}
.logo {
  font-size: 1.5rem;
  color: white;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}
button {
  height: 2rem;
  width: 6rem;
  background-color: #5552525c;
  border: none;
  transition: all 0.5s;
  border-radius: 20px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.665);
  color: white;
}
.aside {
  width: 15%;
  left: 0;
  /* background-color: white; */
  /* box-shadow: 0px 4px 4px 4px white; */
  height: 52vh;
  position: fixed;
  padding: 1rem;
  bottom: 40%;
}
.aside h4 {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  color: black;
}
.footer {
  margin: 1rem 0 1rem 0;
}
.footer a,
p {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.side-right {
  width: 55%;
  right: 0%;
}
.inputControls {
  margin: 7rem 0 0 20rem;
  display: none;
}
.inputControls input {
  margin-bottom: 1rem;
  height: 2rem;
  display: block;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
}
.inputControls textarea {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.blog {
  margin: 2rem 0 0 5rem;
  background-color: #45444479;
  box-shadow: 0px 2px 2px 2px #45444439;
  color: white;
  width: 80%;
  height: fit-content;
  padding: 1rem;
}
.blog p {
  color: rgb(18, 17, 17);
  margin-top: 0.5rem;
  line-height: 1.6;
}
.blog:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.455);
}
.blog:nth-child(3) {
  background-color: rgba(255, 157, 0, 0.455);
}
.blog:nth-child(5) {
  background-color: rgba(0, 255, 34, 0.455);
}
.blog:nth-child(7) {
  background-color: rgba(255, 0, 119, 0.455);
}
.blog:nth-child(9) {
  background-color: rgba(25, 0, 255, 0.455);
}
.blog:nth-child(11) {
  background-color: rgba(135, 85, 110, 0.455);
}
.showBlogs {
  margin-top: 5rem;
  margin-left: 15rem;
  /* border: 2px solid black; */
  height: fit-content;
  width: 600px;
}
.showBlogs h1 {
  text-align: center;
}
.showBlogs p {
  font-size: 1rem;
}
.color {
  background-color: rgba(255, 0, 0, 0.7);
}
.likedSection {
  margin-left: 5rem;
  width: 800px;
  height: 100vh;
}
.likedBlogs {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px #45444450;
  background-color: #45444486;
  margin-top: 2rem;
  margin-right: 3rem;
  width: 50%;
}
.likedBlogs h4 {
  font-size: 0.8rem;
  margin-top: 1rem;
}
.editController {
  margin-left: 6rem;
  position: relative;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: -30px;
  margin-left: 20rem;

  border: none;
}
.btns button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.btns .lik:hover {
  background-color: red;
}
.light {
  color: black;
}
.dark {
  background-color: black;
  color: white;
}

.darkBtn ion-icon {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color: white;
  background: transparent;
}
.selected {
  background-color: rgba(0, 0, 0, 0.665);
  color: white;
  transition: all 0.5s;
}
.selected:hover {
  background-color: rgba(0, 0, 0, 0.809);
}
#darkBtn ion-icon {
  color: #fff;
  /* background-color: #fff; */
  font-size: 1.5rem;
  border-radius: 10px;
}
.right {
  display: flex;
  align-items: center;
}
.mainImage {
  width: 400px;
  height: 400px;
}
.gallery {
  margin-left: 8rem;
  position: fixed;
  top: 10%;
  right: 5%;
}
.gallery h1 {
  color: #454444;
  margin-bottom: 1rem;
}
.allBlogsSection {
  /* margin-left: 5rem; */
  width: 500px;
  height: 100vh;
}
.btnleft {
  position: absolute;
  top: 50%;
  left: -5%;
  background: transparent;
  color: white;
}
.btnleft:hover {
  background: none;
  transform: scale(1.2);
  color: rgba(255, 0, 0, 0.575);
}
.btnright {
  position: absolute;
  top: 50%;
  right: -5%;
  background: none;
  color: white;
}
.btnright:hover {
  background: none;
  transform: scale(1.2);
  color: rgba(255, 0, 0, 0.575);
}
::-webkit-scrollbar {
  display: none;
}
.links {
  display: flex;
  gap: 2rem;
}
.menu {
  display: none;
}
@media screen and (max-width: 1100px) {
  .gallery {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .links {
    display: none;
  }

  .menu {
    display: block;
    color: white;
  }
  .blog {
    width: 50%;
    height: fit-content;
  }
  .blog p {
    margin-bottom: 1rem;
  }
  .main-page {
    position: relative;
  }
  .aside {
    position: fixed;
    top: 2%;
    left: 0;
    width: 20%;
    height: 550px;
    background-color: #45444458;
  }
  .aside h4 {
    font-size: 1.2rem;
    display: inline-block;
    /* width: 10%; */
    white-space: wrap;
  }
  .btns {
    margin-left: 9rem;
  }
  .buttons {
    left: 4%;
    position: fixed;
  }
  .buttons button {
    color: rgb(235, 228, 228);
  }
  .inputControls input {
    width: 50%;
  }
  .likedSection {
    width: 400px;
  }
  footer {
    position: absolute;
    bottom: 10%;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
  body {
    overflow-x: hidden;
    background-color: #454444;
  }
  .allBlogsSection {
    width: 300px;
    margin-right: 4rem;
  }
}
